body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: ui-serif, Georgia, Times, serif;
}

.app-container {
  display: flex;
  flex-direction: column;
}

header {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 62px;
  box-sizing: border-box;
  padding: 16px;
  z-index: 6;
}

.header-inner {
  max-width: 1272px;
  width: 100%;
}

#main-container {
  height: fit-content;
}

#bg-container {
  height: 100%;
}

#bg-img {
  position: relative;
  width: 100vw;
}

.bg-img-mid,
.bg-img-top,
.bg-over-light {
  position: absolute;
  width: 100vw;
  left: 0;
}
#bg-img {
  z-index: 1;
}

.bg-img-mid {
  z-index: 3;
}

.bg-img-top {
  z-index: 4;
}

.bg-over-light {
  z-index: 5;
}

.coin-container {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  max-height: 270px;
  z-index: 2;
  top: 30vw;
}

.coin {
  height: 15.06vw;
  width: 15.06vw;
  background-image: url("./assets/images/img65.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 3.18vw;
}

.hotem-features {
  position: relative;
  height: 848px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.dividends {
  width: 882px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
}

.dividend-heading {
  font-size: 34px;
  font-weight: 600;
}

.dividend-word {
  margin-left: 10px;
  color: #179c64;
}

.dividend-btn {
  background: transparent;
  outline: none;
  border: none;
  height: 48px;
  overflow: hidden;
  border-radius: 7px;
  font-size: 18px;
  width: 189px;
  color: #fff;
  background-image: url("./assets/images/dividend-btn.svg");
  background-size: auto;
}

.dividend-feature {
  display: flex;
  flex-direction: column;
  width: 1272px;
  margin: 0 auto;
}

.div-feature-top {
  font-size: 40px;

  margin-top: 100px;
  margin-bottom: 48px;
}

.div-feature-top h2 {
  color: #3555f7;
  font-size: 40px;
}
.div-feature-top span {
  color: #000;
}

#div-feature-btm {
  height: 558px;
  background-image: url("./assets/images/indicators-web.svg");
  background-repeat: no-repeat;
  background-position: 40% 0%;
}
