body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: ui-serif, Georgia, Times, serif;
}

.app-container {
  display: flex;
  flex-direction: column;
}

header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 62px;
  box-sizing: border-box;
  padding: 16px;
  z-index: 6;
}

.header-inner {
  max-width: 1272px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-inner ul {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style-type: none;
  flex: 2;
  font-weight: 600;
}

.header-inner ul li {
  color: #fff;
  text-transform: capitalize;
  font-size: 14px;
  margin-right: 10px;
}

#main-container {
  position: relative;
  height: fit-content;
}

#bg-container {
  height: auto;
}

#bg-img {
  position: relative;
  width: 100vw;
}

.bg-img-mid,
.bg-img-top,
.bg-over-light {
  position: absolute;
  width: 100vw;
  left: 0;
}
#bg-img {
  z-index: 1;
}

.bg-img-mid {
  z-index: 3;
}

.bg-img-top {
  z-index: 4;
}

.bg-over-light {
  z-index: 5;
}

#coin-container {
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  max-height: 270px;
  z-index: 2;
  top: 30vw;
  margin-left: 3vw;
}

#coin {
  height: 15.06vw;
  width: 15.06vw;
  background-image: url("./assets/images/img65.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin: 0 auto;
}

.hotem-features {
  position: relative;
  height: 848px;
  width: 1272px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.dividends {
  width: 882px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
}

.dividend-heading {
  font-size: 34px;
  font-weight: 600;
}

.dividend-word {
  margin-left: 10px;
  color: #179c64;
}

.dividend-btn {
  background: transparent;
  outline: none;
  border: none;
  height: 48px;
  overflow: hidden;
  border-radius: 7px;
  font-size: 18px;
  width: 189px;
  color: #fff;
  background-image: url("./assets/images/dividend-btn.svg");
  background-size: auto;
}

.dividend-feature {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin: 0 auto; */
}

.div-feature-top {
  font-size: 40px;

  margin-top: 100px;
  margin-bottom: 48px;
}

.div-feature-top h2 {
  color: #3555f7;
  font-size: 40px;
}
.div-feature-top span {
  color: #000;
}

#div-feature-btm {
  display: flex;
  justify-content: space-between;
  height: 558px;
  width: 100;
  background-image: url("./assets/images/indicators-web.svg");
  background-repeat: no-repeat;
  background-position: 41% 5%;
}

.left-feature,
.right-feature {
  width: 330px;
}

.right-feature {
  padding-left: 10px;
}

.left-feature span,
.right-feature span {
  font-size: 32px;
}

.left-feature p,
.right-feature p {
  margin-top: 24px;
  font-size: 16px;
}

.left-feature div:last-child {
  margin-top: 145px;
}

.understanding-container {
  height: 780px;
  width: 100%;
  background: linear-gradient(
    100.1deg,
    #132878 -3.95%,
    #03192f 21.83%,
    #021326 98.76%,
    #00460f 103.65%
  );
}

.understanding {
  height: 604px;
  width: 1272px;
  margin: 96px auto;
}

.understanding h2 {
  font-size: 40px;
  color: #fff;
  margin: 0;
  margin-bottom: 4rem;
}

.card-container {
  display: flex;
  justify-content: space-between;
  color: #fff;
  display: flex;
  flex-direction: row;
}

.card-container .card-deatils {
  width: 30%;
  height: 490px;
  display: flex;
  flex-direction: column;
}

.card-container .card-deatils p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.card-container a {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3555f7;
}

@media only screen and (max-width: 1279px) {
  #div-feature-btm {
    background-image: url("./assets/images/indicators-mid.svg");
  }

  .hotem-features {
    width: calc(100% - 2rem);
    margin: 0;
    padding: 0 1rem;
  }
  .understanding {
    width: calc(100% -2rem);
    padding: 0 1rem;
    margin: auto;
  }

  .right-feature {
    width: 270px;
  }

  .understanding {
    height: 604px;
    width: calc(100% - 2rem);
    margin: 96px 0;
    padding: 0 1rem;
  }
}
